<meta charset="UTF-8">
<div class="header"></div>
<!-- Scripts Header -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>


 <!-- Scripts Birds -->
<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"> </script>
<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/nn.js"></script>
<script language="javascript" type="text/javascript" src="/js/matrix.js"></script>
<script language="javascript" type="text/javascript" src="/js/ga.js"></script>
<script language="javascript" type="text/javascript" src="/js/sketch.js"></script>
<script language="javascript" type="text/javascript" src="/js/bird.js"></script>
<script language="javascript" type="text/javascript" src="/js/pipe.js"></script>


	<section id="one" class="wrapper style2">
		<div class="inner">
			<div class="grid-style">
				<div class="box">
			<div id="bird-canvas"></div>
			 </div>
			 <div class="box">
				<p>
					Speed: <input id="speedSlider" type="range" min="1" max="10" value="1"> <span id="speed">1</span>
					<br/> High score: <span id="hs">0</span>
					<br/> All time high score: <span id="ahs">0</span>
				</p>
				<p>
					<button id="best">run best so far</button>
				</p>
			</div>
			</div>
		</div>
	</section>


	


<!-- Scripts Footer -->
<div class="footer"></div>
<script src="/js/footer.js"></script>