<meta charset="UTF-8">
<div class="header"></div>
<!-- Scripts Header -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>

<script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"> </script>
<script language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript" src="/js/lib/nn.js"></script>
<script language="javascript" type="text/javascript" src="/js/lib/matrix.js"></script>

<script language="javascript" type="text/javascript" src="/js/maze/sketch.js"></script>

	<div id="maze-canvas"></div>


<!-- Scripts Footer -->
<div class="footer"></div>
<script src="/js/footer.js"></script>