<meta charset="UTF-8">
<div class="header"></div>

<link rel="stylesheet" type="text/css" href="css/main.css" />

<!-- Scripts Header -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


	<section id="two" class="wrapper style2" style="color: #333 !important">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Library</p>
						<h2>Properties</h2>
					</header>
					
						<dl>
							<dt>activePopulation</dt>
							<dd>
								<p>Get and set the total active population number</p>
							</dd>
							<br/>

							<dt>population</dt>
							<dd>
								<p>Get and set the total population number</p>
							</dd>
							<br/>

							<dt>totalPopulation</dt>
							<dd>
								<p>Set the number of population</p>
							</dd>

							<br/>
							<dt>inputLayer</dt>
							<dd>
								<p>Set the input layer number</p>
							</dd>
							<br/>

							<dt>hiddenLayer</dt>
							<dd>
								<p>Set the hidden layer number</p>
							</dd>
							<br/>

							<dt>outputLayer</dt>
							<dd>
								<p>Set the output layer number</p>
							</dd>

						</dl>
				</div>
			</div>
		</div>
	</section>

	<section id="two" class="wrapper style2" style="color: #333 !important">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Library</p>
						<h2>Methods</h2>
					</header>
					
						<dl>
							<dt>export()</dt>
							<dd>
								<p>Export the current population models to a json file named “data.json”</p>
							</dd>
							<br/>

							<dt>exportBest()</dt>
							<dd>
								<p>export the model with the highest score to a json file named “data.json”</p>
							</dd>
							<br/>

							<dt>input(arrayObjects, useSavedData)</dt>
							<dd>
								<p>inputs models to population and active population</p>
								<p>Parameters:</p>
										<ul>
											<li>arrayObjects: an array of javascript Class objects </li>
											<li>useSavedData: true will retain the current “brain” neuron of the object and false will create new “brain” neurons of the object</li>
										</ul>
							</dd>
							<br/>

							<dt>import(classParam)</dt>
							<dd>
								<p>inputs models to population and active population</p>
								<p>Parameters: </p>
										<ul>
											<li>classParam: Classname of the model</li>
										</ul>
							</dd>
							<br/>

							<dt>modelCopy(model)</dt>
							<dd>
								<p>copy the current model to a new object</p>
								<p>Parameters: </p>
										<ul>
											<li>Model: the current model</li>
										</ul>
							</dd>
							<br/>

							<dt>refreshPopulation()</dt>
							<dd>
								<p>Copy the models in ‘population’ array to the ‘active population’ array</p>
							</dd>
							<br />

							<dt>nextGeneration(preresetFunc)</dt>
							<dd>
								<p>Generate new generation with mutation and pool selection</p>
							</dd>

						</dl>
				</div>
			</div>
		</div>
	</section>
	

<div class="footer"></div>
<script src="/js/footer.js"></script>
