<!DOCTYPE HTML>
<html>
<head>
		<title>Bird Neuron</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/util.js"></script>
		<script src="/js/main.js"></script>
</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="demo1">Flappy Bird</a></li>
					<li><a href="demo2">The Maze</a></li>
					<li><a href="document">Document API</a></li>
					<li><a href="usage">Usage</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="/images/slide01.png" alt="" />
					<div class="inner">
						<header>
							<h2>Bird Neuron</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="/images/slide02.png" alt="" />
					<div class="inner">
						<header>
							<h2>Bird Neuron</h2>
						</header>
					</div>
				</article>
			</section>