<meta charset="UTF-8">
<div class="header"></div>

<link rel="stylesheet" type="text/css" href="css/main.css" />

<!-- Scripts Header -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/skel.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

	<section id="two" class="wrapper style2" style="color: #333 !important">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Usage</p>
						<h2>Import Birdneuron library</h2>
					</header>
					<pre style='color:#000000;background:#ffffff;'><span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#274796; '> </span><span style='color:#074726; '>language</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"javascript"</span><span style='color:#274796; '> </span><span style='color:#074726; '>type</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"text/javascript"</span><span style='color:#274796; '> </span><span style='color:#074726; '>src</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"/js/lib/birdneuron.js"</span><span style='color:#a65700; '>></span><span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>script</span><span style='color:#a65700; '>></span>
</pre>
<!--Created using ToHtml.com on 2019-08-05 00:37:33 UTC -->
				</div>
			</div>
		</div>
	</section>

	<section id="two" class="wrapper style2" style="color: #333 !important">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Usage</p>
						<h2>Create Bird model</h2>
					</header>
					
					<pre style='color:#000000;background:#ffffff;'>
<span style='color:#800000; font-weight:bold; '>class</span> Bird <span style='color:#800080; '>{</span>
	      <span style='color:#797997; '>constructor</span><span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
	      <span style='color:#800080; '>{</span>
			<span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>x <span style='color:#808030; '>=</span> <span style='color:#008c00; '>64</span><span style='color:#800080; '>;</span>
			<span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>y <span style='color:#808030; '>=</span> <span style='color:#008c00; '>10</span><span style='color:#800080; '>;</span>
	      <span style='color:#800080; '>}</span>
	
	      copy<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#696969; '>// Required!</span>
	      <span style='color:#800080; '>{</span>
			<span style='color:#800000; font-weight:bold; '>return</span> <span style='color:#800000; font-weight:bold; '>new</span> Bird<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
	      <span style='color:#800080; '>}</span>
		
		<span style='color:#696969; '>// function that returns an array of input numbers</span>
		think<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
		<span style='color:#800080; '>{</span>
			<span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span>
		<span style='color:#800080; '>}</span>
	
		<span style='color:#696969; '>// function that will determine what the bird will do </span>
<span style='color:#696969; '>// when receiving an output array</span>
		<span style='color:#800000; font-weight:bold; '>do</span><span style='color:#808030; '>(</span>outputs<span style='color:#808030; '>)</span>
		<span style='color:#800080; '>{</span>
			<span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span>
		<span style='color:#800080; '>}</span>

		<span style='color:#696969; '>// Display or draw the bird</span>
		show<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span>
		<span style='color:#800080; '>{</span>
			<span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span> <span style='color:#808030; '>.</span>
		<span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
<span style='color:#808030; '>*</span>Note that <span style='color:#800000; font-weight:bold; '>function</span> copy<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> is required which <span style='color:#800000; font-weight:bold; '>return</span> <span style='color:#800000; font-weight:bold; '>new</span> model object<span style='color:#808030; '>.</span>
</pre>
				</div>
			</div>
		</div>
	</section>

	<section id="two" class="wrapper style2" style="color: #333 !important">
		<div class="inner">
			<div class="box">
				<div class="content">
					<header class="align-center">
						<p>Usage</p>
						<h2>Create BirdNeuron object and insert models in main file</h2>
					</header>
					
					<pre style='color:#000000;background:#ffffff;'>

<span style='color:#696969; '>//Using bird neuron</span>
<span style='color:#800000; font-weight:bold; '>let</span> bn <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> BirdNeuron<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

<span style='color:#696969; '>//Settings</span>
bn<span style='color:#808030; '>.</span>totalPopulation <span style='color:#808030; '>=</span> <span style='color:#008c00; '>500</span><span style='color:#800080; '>;</span>
bn<span style='color:#808030; '>.</span>inputlayer <span style='color:#808030; '>=</span> <span style='color:#008c00; '>5</span><span style='color:#800080; '>;</span>
bn<span style='color:#808030; '>.</span>hiddenlayer <span style='color:#808030; '>=</span> <span style='color:#008c00; '>8</span><span style='color:#800080; '>;</span>
bn<span style='color:#808030; '>.</span>outputlayer <span style='color:#808030; '>=</span> <span style='color:#008c00; '>2</span><span style='color:#800080; '>;</span>

<span style='color:#696969; '>//Create bird models</span>
      <span style='color:#800000; font-weight:bold; '>var</span> tempBirds <span style='color:#808030; '>=</span> <span style='color:#808030; '>[</span><span style='color:#808030; '>]</span><span style='color:#800080; '>;</span>
      <span style='color:#800000; font-weight:bold; '>for</span> <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>let</span> i <span style='color:#808030; '>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span> i <span style='color:#808030; '>&lt;</span> bn<span style='color:#808030; '>.</span>totalPopulation<span style='color:#800080; '>;</span> i<span style='color:#808030; '>++</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        <span style='color:#800000; font-weight:bold; '>let</span> bird <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>new</span> Bird<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#696969; '>// console.log("bird: ", bird);</span>
        tempBirds<span style='color:#808030; '>.</span>push<span style='color:#808030; '>(</span>bird<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
      <span style='color:#800080; '>}</span>
	
	<span style='color:#696969; '>//Insert to both population and total population</span>
      bn<span style='color:#808030; '>.</span><span style='color:#797997; '>input</span><span style='color:#808030; '>(</span>tempBirds<span style='color:#808030; '>,</span> <span style='color:#0f4d75; '>false</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

	<span style='color:#696969; '>//Models in action - show the birds</span>
<span style='color:#800000; font-weight:bold; '>for</span> <span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>let</span> i <span style='color:#808030; '>=</span> bn<span style='color:#808030; '>.</span>activePopulation<span style='color:#808030; '>.</span><span style='color:#800000; font-weight:bold; '>length</span> <span style='color:#808030; '>-</span> <span style='color:#008c00; '>1</span><span style='color:#800080; '>;</span> i <span style='color:#808030; '>>=</span> <span style='color:#008c00; '>0</span><span style='color:#800080; '>;</span> i<span style='color:#808030; '>--</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
          <span style='color:#800000; font-weight:bold; '>let</span> bird <span style='color:#808030; '>=</span> bn<span style='color:#808030; '>.</span>activePopulation<span style='color:#808030; '>[</span>i<span style='color:#808030; '>]</span><span style='color:#800080; '>;</span>

          <span style='color:#696969; '>// Bird uses its brain!</span>
          bird<span style='color:#808030; '>.</span>inputs <span style='color:#808030; '>=</span> bird<span style='color:#808030; '>.</span>think<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

          <span style='color:#800000; font-weight:bold; '>var</span> actions <span style='color:#808030; '>=</span> bird<span style='color:#808030; '>.</span>outputs<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

          <span style='color:#800000; font-weight:bold; '>if</span><span style='color:#808030; '>(</span>actions<span style='color:#808030; '>)</span> bird<span style='color:#808030; '>.</span><span style='color:#800000; font-weight:bold; '>do</span><span style='color:#808030; '>(</span>actions<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
          bird<span style='color:#808030; '>.</span>show<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>
				</div>
			</div>
		</div>
	</section>

<div class="footer"></div>
<script src="/js/footer.js"></script>
